*{margin: 0;padding: 0;}
body{
  margin: 0px;
  padding: 0px;
  background-color: #b3ffda;
  font-family: 'Red Rose', cursive;
}
/* navigation bar */
.myNavbar{
  background-color: #00cc00;
  box-shadow: 0px 5px 10px black;
  width: 100%;
  height: 150px;
  padding: 10px 0px;
  z-index: 1;
  box-sizing: border-box;
}
.myNavbar .logo{
  height: 130px;
  width: 130px;
  margin-left: 3%;
  border-radius: 50%;
  box-shadow: 0px 0px 10px black;
  overflow: hidden;
  float: left;
}
.myNavbar .logo img{
  height: 130px;
  width: 130px;
  border-radius: 50%;
  align-self: auto;
}
.myNavbar .NGO-name{
  float: left;
  padding: 5px;
  margin-top: -10px;
  box-sizing: border-box;
  height: 130px;
  width: auto;
}
.name-break{
  display: none;
}
.NGO-name h1{
  color: #cc3300;
  text-shadow: 0px 1px 1px black;
  font-family: 'Black Ops One', cursive;
  text-transform: uppercase;
}
.NGO-name h1 span{
  font-size: 1.5em;
}
.nav_links{
  margin-top: 35px;
  margin-right: 1%;
  float: right;
  display: flex;
}
.nav_links li{
  list-style: none;
}
.nav_links li div{
  width: auto;
  height: auto;
  margin-right: 5px;
  padding: 3px 3px 5px 5px;
  text-align: center;
}
.nav_links li div a{
  text-decoration: none;
  font-size: 1.7em;
  color: #ffe6cc;
  text-shadow: 0px 2px 2px black;
}
.nav_links li div a .glyphicon-home{
  color: #d9b38c;
}
.nav_links li div a .glyphicon-info-sign{
  color: #99ccff;
}
.nav_links li div a .glyphicon-heart{
  color: #ff4d88;
}
.nav_links li div a .glyphicon-gift{
  color: #bf80ff;
}
.nav_links li div a:hover, .nav_links li div a:active, a.focus:link, a.focus:visited{
  color: #ffff66;
}
.nav_links li div a:hover >span, .nav_links li div a:active>span, .nav_links li div a span:hover, .nav_links li div a span:active, a.focus:link >span, a.focus:visited >span{
  font-size: 1.3em;
  top: -5px;
}

.menu{
  height: 40px;
  width: 40px;
  padding: 5px;
  margin-top: 35px;
  margin-right: 10%;
  float: right;
  cursor: pointer;
  display: none;
}
.bar1, .bar2, .bar3{
  background-color: white;
  margin: 3px 0px 3px 0px;
  box-shadow: 2px 2px 5px black;
  height: 6px;
  width: 6px;
  border-radius: 4px;
  transition: width .3s ease-in;
}
.banner{
  margin-top: 40px;
  transition: margin-top .4s ease-in;
}
h2{
  color: #cc00ff;
  font-weight: bolder;
  text-shadow: 0px 1px 2px black;
}
#myCarousel p{
  color: #bb99ff;
  text-shadow: 0px 1px 2px black;
}
#call-btn{
  margin-top: -15px;
  width: 200px;
  background-color: #ff7733;
  border: 3px solid #800000;
  border-radius: 20px;
  box-shadow: 0px 0px 20px black;
}
.btn{
  text-decoration: none;
  font-size: 1.5em;
  color: white;
}
#call-btn:hover{
  box-shadow: 0px 0px 20px #003366;
  text-decoration-color: #ffbb99;
  background-color: #ffd1b3;
  border: 3px solid #4d1a00;
}
#call-btn:hover > a span, #call-btn:active > a span{
  animation: anm 1.5s infinite;
}
@keyframes anm {
  0%{transform: rotateZ(0deg);}
  5%{transform: rotateZ(50deg);
  transition: transform .2s ease;}
  10%{transform: rotateZ(0deg);
  transition: transform .2s ease;}
  15%{transform: rotateZ(50deg);
  transition: transform .2s ease;}
  20%{transform: rotateZ(0deg);
  transition: transform .2s ease;}
  100%{transform: rotateZ(0deg);}
}
.map iframe:hover{
  box-shadow: 0px 0px 10px black;
}
.tags div{height:100px;width:33%;float:left;}
hr{margin:-8px 0 8px 0; width:150px;background-color: black;}

.about .ol1, .ol2, .ol3, .ol4, .ol5, .ol6, .ol7, .ol8, .ol9, .ol10, .b{
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  height: 400px;
  position: absolute;
}
.about div img{
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin-top: 35px;
}
.about div div p{margin: 0px 10px 0px 10px;}
/*.about div div h3, .about div div h4, .about div div p{white-space: nowrap;}*/
@keyframes o1 {
  0%{width: 0px;height:0px;transition: width .5s, height .5s;}
  1.8%{width: 300px;height:400px;transition: width .5s, height .5s;}
  100%{width: 300px;height:400px;transition: width .5s, height .5s;}
}
@keyframes o2 {
  0%{width: 0px;transition: width .5s;}
  10%{width: 0px;transition: width .5s;}
  11%{width: 300px;transition: width .5s;}
  100%{width: 300px;transition: width .5s;}
}
@keyframes o3 {
  0%{height: 0px;transition: height .5s;}
  20%{height: 0px;transition: height .5s;}
  21%{height: 400px;transition: height .5s;}
  100%{height: 400px;transition: height .5s;}
}
@keyframes o4 {
  0%{width: 0px;height:0px;transition: width .5s, height .5s;}
  30%{width: 0px;height:0px;transition: width .5s, height .5s;}
  31%{width: 300px;height:400px;transition: width .5s, height .5s;}
  100%{width: 300px;height:400px;transition: width .5s, height .5s;}
}
@keyframes o5 {
  0%{width: 0px;transition: width .5s;}
  40%{width: 0px;transition: width .5s;}
  41%{width: 300px;transition: width .5s;}
  100%{width: 300px;transition: width .5s;}
}
@keyframes o6 {
  0%{height: 0px;transition: height .5s;}
  50%{height: 0px;transition: height .5s;}
  51%{height: 400px;transition: height .5s;}
  100%{height: 400px;transition: height .5s;}
}
@keyframes o7 {
  0%{width: 0px;height:0px;transition: width .5s, height .5s;}
  60%{width: 0px;height:0px;transition: width .5s, height .5s;}
  61%{width: 300px;height:400px;transition: width .5s, height .5s;}
  100%{width: 300px;height:400px;transition: width .5s, height .5s;}
}
@keyframes o8 {
  0%{width: 0px;transition: width .5s;}
  70%{width: 0px;transition: width .5s;}
  71%{width: 300px;transition: width .5s;}
  100%{width: 300px;transition: width .5s;}
}
@keyframes o9 {
  0%{height: 0px;transition: height .5s;}
  80%{height: 0px;transition: height .5s;}
  81%{height: 400px;transition: height .5s;}
  100%{height: 400px;transition: height .5s;}
}
@keyframes o10 {
  0%{width: 0px;transition: width .5s;}
  90%{width: 0px;transition: width .5s;}
  91%{width: 300px;transition: width .5s;}
  100%{width: 300px;transition: width .5s;}
}

@media screen and (max-width:1030px){
  .NGO-name h1{
    font-size: 1.8em;
  }
}
@media screen and (max-width:992px) {
  .myNavbar{
    height: 130px;
  }
  .myNavbar .logo{
    height: 110px;
    width: 110px;
  }
  .myNavbar .logo img{
    height: 110px;
    width: 110px;
  }
  .NGO-name h1{
    font-size: 1.8em;
  }
  .nav_links{
    right: 0px;
    height: auto;
    padding: 0;
    width: 100%;
    position: absolute;
    margin-right: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(55%);
    transition: transform .2s ease-in;
    overflow: hidden;
  }
  .menu{
    display: block;
  }
  .nav_links li{
    width: 100%;
  }
  .nav_links li div{
    height: 41px;
    width: 100%;
    background-color: #009933;
    border-bottom: 1px solid #006622;
  }
  .nav_links li div a span{
    margin-right: 6px;
  }
  .home{
    transform: translateX(-100%);
    transition: transform .4s ease-in;
  }
  .abt{
    transform: translateX(100%);
    transition: transform .4s ease-in;
  }
  .login{
    transform: translateX(-100%);
    transition: transform .4s ease-in;
  }
  .donate{
    transform: translateX(100%);
    transition: transform .4s ease-in;
  }
  h2{
    font-size: 1.5em;
  }
  #myCarousel p{
    font-size: .8em;
  }
}
@media screen and (max-width:700px) {
  .myNavbar .logo{
    margin-top: 15px;
    height: 90px;
    width: 90px;
  }
  .myNavbar .logo img{
    height: 90px;
    width: 90px;
  }
  .NGO-name h1{
    margin-top: 40px;
    font-size: 1.3em;
  }
  .NGO-name p{
    font-size: .8em;
  }
  .menu{
    margin-right: 5%;
  }
  h2{
    font-size: 1.3em;
  }
  #myCarousel p{
    font-size: .8em;
  }
  .tags div{width: 200px;}
  .tags{display: flex;flex-direction: column;align-items: center;}

}
@media screen and (max-width:400px){
  .myNavbar .logo{
    margin-top: 10px;
  }
  .name-break{
    display: block;
  }
  .NGO-name h1{
    margin-top: 25px;
    font-size: 1.5em;
  }
  .NGO-name p{
    font-size: .5em;
  }
  h2{
    font-size: .95em;
  }
  #myCarousel p{
    font-size: .6em;
  }
}
@media screen and (max-width:300px){
  .menu{width:30px;}
}
.menu-active1{
  width: 100%;
  border-radius: 3px;
  transition: width .5s;
}
.menu-active2{
  width: 50%;
  border-radius: 3px;
  transition: width .5s;
}
.home-active{
  z-index: 1;
  transform: translatex(0%);
  transition: transform .4s ease-in;
}
.abt-active{
  z-index: 1;
  transform: translateY(0%);
  transition: transform .4s ease-in;
}
.login-active{
  z-index: 1;
  transform: translateY(0%);
  transition: transform .4s ease-in;
}
.donate-active{
  z-index: 1;
  transform: translateY(0%);
  transition: transform .4s ease-in;
}
.banner-active{
  margin-top: 175px;
  transition: margin-top .4s;
}
